<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="DUU DevOps" />
      
      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">      
      <link rel="stylesheet" href="style.css">
      
      <title>DUU Committee Selection</title>
  </head>

<body>
    
    <div id="committeeSelection">
    
        <div id="paramSelection">
          <div class="row">
              <div class="column">
                  <h3>Size</h3>
              </div>
              <div class="column">
                  <h3>Role</h3>
              </div>
              <div class="column">
                  <h3>Genre</h3>
              </div>
          </div>
          <div class="row">
              <div class="column" id="button-selection" v-for="parameter in parameters">
                <input class="chk" v-bind:value=parameter.name type="checkbox" v-on:click="select()">
                <label id="parameterLabel">{{parameter.name}}</label>
              </div>
          </div>
        </div>

        <div id="committees" v-for="committeeParams in committees" v-if="committeeParams.shown">
            <img v-on:click="apply(committeeParams.link)" v-bind:src='"assets/" + committeeParams.img'>
        </div>
        
        <div id="exit">
            <img v-on:click="exitApplication()" src="assets/exit-logo.png">
        </div>
        
        <div class="applicationContainer">
            <img v-on:click="exitApplication()" id="background" src="assets/white-background.jpg">
            <iframe id="application" align="middle" src="https://docs.google.com/forms/d/e/1FAIpQLSfxlNUYjsx2xHXDnND_EWPV5P8iv5bcaiUP546VnNjjNbU36A/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
    
    </div>
    
    <script  src="script.js"></script>

</body>
    
</html>