body{
    background-color: black;
    font-family: "Open Sans";
    color: white;
}
h1, .column{
    text-align: center;
}
#button-selection{
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    border-right: 1px solid rgba(255, 255, 255, .5);
}
#button-selection:nth-child(7), #button-selection:nth-child(8), #button-selection:nth-child(9){
    border-right: none; 
}
.column {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
#committees img{
    width: 12%;
    float: left;
    margin: 2.3333333%;
}
#committees img:hover{
    cursor: pointer;
}

#background{
    position: absolute;
    top: 0;
    left: 0;
    display: none; 
}
#application{
    position: absolute;
    top: 6%;
    width: 50%;
    height: 85%;
    border: 10px solid white;
    left: 25%;
    display: none;
}
#exit img{
    z-index: 1;
    position: absolute;
    max-height: 5%;
    top: 2%;
    right: 1%;
    display: none;
}
#exit img:hover{
    cursor: pointer;
}
