body{
    background-color: white;
    font-family: "Roboto";
    color: black;
}
h1, h3, h2{
    text-align: center;
    margin: 1%;
}
h3{
    text-decoration: underline;
}
#button-selection input{
    margin-left: 40%;
}
#committeeSelection .row:nth-child(3){
    margin-bottom: 1%;
}
.column {
    float: left;
    width: 33%;
}
#background{
    width: 100vw;
    height: 100vh;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#committees img{
    width: 12%;
    float: left;
    margin: 2.3333333%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#committees img:hover{
    cursor: pointer;
}

#background{
    position: absolute;
    top: 0;
    left: 0;
    display: none; 
}
#application{
    position: absolute;
    top: 8%;
    width: 90%;
    padding: 0;
    height: 90%;
    border: 10px solid white;
    display: none;
}
#exit img{
    z-index: 1;
    position: absolute;
    max-height: 5%;
    top: 2%;
    right: 1%;
    display: none;
}
#exit img:hover{
    cursor: pointer;
}




@media (max-width: 900px){
    #button-selection input{
        margin-left: 10%;
    }
    h3{
        text-align: left;
        margin-left: 10%;
    }
    #committees img{
        width: 20%;
        float: left;
        margin: 2.5%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    #exit{
        max-height: 2%;
    }
}
@media (max-width: 650px){
    #button-selection input{
        margin-left: 0;
    }
    #button-selection label{
        font-size: 80%;
    }
    h3{
        margin-left: 0;
    }
    #committees img{
        width: 27%;
        float: left;
        margin: 3.166666%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
}
@media (max-width: 450px){
    #button-selection label{
        font-size: 65%;
    }
}
@media (max-width: 400px){
    #button-selection label{
        font-size: 55%;
    }
}
